<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.2.xsd">

<!-- 	<http pattern="/user/login*" security="none"/>
	<http pattern="/user/register*" security="none"/>
	<http pattern="/user/login" security="none"/>
	<http pattern="/data/template/public/**" security="none"/> -->
	<http pattern="/css/**" security="none"/>
	<http pattern="/js/**" security="none"/>
	<http pattern="/img/**" security="none"/>
	<http pattern="/assets/**" security="none"/>
	<http auto-config="true" access-denied-page="/403.jsp" >	
		<!--  -->
		<intercept-url pattern="/user/login*" access="ROLE_ANONYMOUS" />
		<intercept-url pattern="/user/check_register*" access="ROLE_ANONYMOUS" />
		<intercept-url pattern="/user/register*" access="ROLE_ANONYMOUS" />
		<intercept-url pattern="/user/send_activity_email*" access="ROLE_ANONYMOUS" />
		
		<intercept-url pattern="/user/find_password*" access="ROLE_ANONYMOUS" />
		<intercept-url pattern="/user/find_password_post*" access="ROLE_ANONYMOUS" />
		
		<intercept-url pattern="/user/reset_password*" access="ROLE_ANONYMOUS" />
		<intercept-url pattern="/user/reset_password_post*" access="ROLE_ANONYMOUS" />
		
		<intercept-url pattern="/user/resend_email*" access="ROLE_ANONYMOUS" />
		<intercept-url pattern="/data/template/public/**" access="ROLE_ANONYMOUS" />
		
		<!-- 权限页面 -->
		<intercept-url pattern="/data/**" access="ROLE_USER,ROLE_ADMIN" />
		<intercept-url pattern="/user/**" access="ROLE_USER,ROLE_ADMIN" />
		<!-- <intercept-url pattern="/**" access="ROLE_USER,ROLE_ADMIN" /> -->
		
		
		
		<!-- 登陆页面 -->
		<form-login login-page="/user/login" authentication-failure-url="/user/login?error=true" default-target-url="/" username-parameter="j_email"/>
		
		<!-- 注销成功页面 -->
		<logout logout-success-url="/" invalidate-session="false" logout-url="/user/logout"/>
		
		<!-- 会话管理 -->
		<session-management  invalid-session-url="/sessionTimeOut.jsp" />
		
		<!-- remember me -->
		<remember-me />
		
		<anonymous enabled="true" />
		<http-basic/>
		
	</http>
	
	<debug />
	<!-- 认证管理器，实现用户认证的入口，主要实现UserDetailsService接口即可 -->
    <authentication-manager alias="authenticationManager">
        <authentication-provider
            user-service-ref="myUserDetailService">
            <password-encoder ref="passwordEncoder" />
        </authentication-provider>
    </authentication-manager>
    
    <!-- Override the default password-encoder (BCrypt) by uncommenting the following and changing the class -->
    <beans:bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>


    

</beans:beans>